.navbar-brand {
  font-size: 24px;
  font-family: 'Rock Salt', sans-serif;
  font-weight: bold;
}

.apic {
  background-color: black;

  height: 550px;
}

.col-md-2 {
  background-color: black;
}

.i-enjoy {
  color: rgb(249, 248, 250);

  margin-top: 210px;
}

.web {
  color: goldenrod;
}


.h-button {
  color: white;
  font-size: large;
  background-color: rgb(247, 15, 15);
  padding: 5px 30px;
}

.line {
  border-top: 1px solid black;
}

.projects img {
  width: 500px;
  height: 300px;
  justify-content: center;
}

.pic-btn {
  margin-right: 10px;
}

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 120px;
  margin-left: 100px;
  transition: 0.5s;
}

.icon:hover {
  transform: scale(1.1);
  background-color: rgb(230, 99, 52);

}